.animated-sticky-navigation {
  background-color: $defaultSectionBGColor;
  color: $defaultTextColor;
  transition: all 250ms;
  &__container {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 5px;
    .user {
      font-weight: 700;
      font-size: 18px;
      position: relative;
      padding-left: 80px;
      padding-top: 0;
      padding-bottom: 5px;
      &:before {
        content: '\e971';
        background-color: darken($defaultSectionBGColor, 10%);
        border-radius: 50%;
        font-family: 'icons';
        font-size: $defaultFontSize;
        padding: 25px 28px;
        position: absolute;
        left: 0;
        top: -20px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
        position: relative;
        top: -7px;
        min-height: 15px;
        li {
          padding-top: 0;
          @include supplementalInfo();
          a {
            color: darken($defaultLinkColor, 10%);
          }
        }
      }
    }
    .nav-links {
      &__container {
        list-style-type: none;
        display: flex;
        padding: 0;
        li {
          margin-right: $defaultPadding;
          line-height: 1.5;
          text-align: center;
          padding: 4px 0 11px;
          &:last-child {
            margin-right: 0;
          }
          &:before {
            font-size: $betaFontSize;
          }
        }
      }
    }
    .settings {
      &:before {
        content: '\e97d';
        font-family: 'icons';
      }
    }
    .newest {
      &:before {
        content: '\e968';
        font-family: 'icons';
      }
    }
    .messages {
      &:before {
        content: '\e96e';
        font-family: 'icons';
      }
    }
    .alerts {
      &:before {
        content: '\e970';
        font-family: 'icons';
      }
    }
  }
}

// Sticky version
.animated-sticky-navigation {
  &.stuck {
    box-shadow: 5px 0 25px rgba($black, 0.15);
    background-color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    height: 65px;
    transition: all 250ms;
    .container {
      padding-top: 0;
    }
    .user {
      padding-left: 80px;
      padding-top: 7px;
      padding-bottom: 5px;
      &:before {
        padding: 25px 28px;
        top: 4px;
      }
    }
  }
}