.animated-sticky-navigation {
  background-color: $defaultSectionBGColor;
  color: $defaultTextColor;
  transition: all 250ms;
  &__container {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 5px;
    .nav-links {
      &__container {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        li {
          margin-right: $defaultPadding;
          line-height: 1.5;
          text-align: center;
          padding: 4px 0 10px;
          &:last-child {
            margin-right: 0;
          }
          &:before {
            font-size: $betaFontSize;
          }
        }
      }
    }
    .newest {
      &:before {
        content: '\e959';
        font-family: 'icons';
      }
    }
    .articles {
      &:before {
        content: '\e95c';
        font-family: 'icons';
      }
    }
    .components {
      &:before {
        content: '\e960';
        font-family: 'icons';
      }
    }
  }
}

// Sticky version
.animated-sticky-navigation {
  &.stuck {
    box-shadow: 5px 0 25px rgba($black, 0.15);
    background-color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    height: 65px;
    transition: all 250ms;
    .container {
      padding-top: 0;
    }
    .user {
      padding-left: 80px;
      padding-top: 7px;
      padding-bottom: 5px;
      &:before {
        padding: 25px 28px;
        top: 4px;
      }
    }
  }
}