
<!DOCTYPE html>
<html>
  <head> 
  <title>Library</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head> 
  <body>
	  <main>
      <section id="hero" class="jumbotron-hero">
        <div class="jumbotron-hero__container container">
          <div class="jumbotron-hero__container">
            <div class="jumbotron-hero__container--content intro">
              <h1 class="heading"></h1>
              <p class="short-desc"></p>
              <a class="cta" href="#" target="_blank"></a>
            </div>
          </div>
        </div>
      </section>

      <nav id="sticky" class="animated-sticky-navigation">
        <ul class="animated-sticky-navigation__container container">
          <li class="nav-links">
            <ul class="nav-links__container">
            </ul>
          </li>
        </ul>
      </nav>

      <section class="color-memory intro" id="color-memory"> 
        <div class="container">
          <!-- Introduction -->
          <div class="color-memory__intro intro">
            <h2 class="color-memory__intro--heading"></h2>
            <p class="color-memory__intro--desc"></p>
            <button class="color-memory__intro--cta" role="button"></button>
          </div>
          <!-- Game: Phase 1  -->
          <div class="color-memory__phase1 phase1">
            <p class="color-memory__phase1--instructions"></p>
            <div class="inner-container">
              <button class="color-memory__phase1--easy" role="button"></button>
              <button class="color-memory__phase1--normal" role="button"></button>
              <button class="color-memory__phase1--hard" role="button"></button>
            </div>
          </div>
          <!-- Game: Phase 2 -->
          <div class="color-memory__phase2 phase2">
            <p class="color-memory__phase2--instructions"></p>
            <span class="color-memory__phase2--swatch"></span>
            <div class="color-memory__phase2--countdown">
              <span class="progress"></span>
            </div>
          </div>
          <!-- Game: Phase 3 -->
          <div class="color-memory__phase3 phase3">
            <p class="color-memory__phase3--instructions"></p>
            <form class="color-memory-choices">
              <div class="color-memory__phase3--choices"></div>
            </form>
          </div>
          <!-- Results -->
          <div class="color-memory__results results">
            <p class="color-memory__results--condition"></p>
            <button class="color-memory__results--cta" role="button">Try Again</button>
          </div>
        </div>
      </section>

    </main>
  </body> 
</html>
