
<!DOCTYPE html>
<html>
  <head> 
  <title>Library</title> 
  </head> 
  <body>
	  <main>
      <section id="hero" class="jumbotron-hero">
        <div class="jumbotron-hero__container container">
          <div class="jumbotron-hero__container">
            <div class="jumbotron-hero__container--content intro">
              <h1 class="heading"></h1>
              <p class="short-desc"></p>
              <a class="cta" href="#" target="_blank"></a>
            </div>
          </div>
        </div>
      </section>
      <nav id="sticky" class="animated-sticky-navigation">
        <ul class="animated-sticky-navigation__container container">
          <li class="nav-links">
            <ul class="nav-links__container">
            </ul>
          </li>
        </ul>
      </nav>

      <section id="recent" class="recent-projects"> 
        <div class="color-memory " id="color-memory">
          <div class="container">
            <div class="color-memory__intro state-1 col-lg-6">
              <p class="lead cm-lead"></p>
              <button type="button" class="cm-cta cta-secondary" id="cm-step1"></button>
            </div>
            <div class="color-memory__game state-2 d-none">
              <div class="instructions">
                <p class="cm-instructions">You will be shown a square of color for 15 seconds. Afterwards, you must pick the color that matches the color you just saw.</p>
                <button type="button" class="cm-cta-step-2 cta-secondary" id="cm-step2">I'm ready!</button>
              </div>
              <div class="game d-none">
                <div class="color-memory__game--swatch"></div>
                <div class="color-memory__game--timer"></div>
              </div>
              </div>
              <div class="color-memory__choices state-3 d-none">
                <ul id="color-choices">
                </ul>
              </div>
              <div class="color-memory__results state-4 d-none">
                <p class="result"></p>
              </div>
            </div>

 


	</main>
    </body> 
</html>
