<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Library of Components</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="animated-side-navigation show">
  <ul class="animated-side-navigation__container">
    <li class="animated-side-navigation__container--toggle toggle">
      <a class="toggle__trigger" id="toggle__trigger" href="#">
        <span class="sr-only">(toggle sidebar on or off)</span>
      </a>
    </li>
    <li class="animated-side-navigation__container--user user">
      <a class="user__avatar" style="background-image: url('/link-to-user-avatar.svg')" href="/link-to-profile.html" target="_blank">
        User's Name<span class="sr-only"> (see user profile, opens in new window)</span>
      </a>
    </li>
    <li class="animated-side-navigation__container--nav nav">
      <ul class="nav__container">
        <li class="nav__container--item settings">
          <a href="/link-to-nav-item.html" target="_blank">Settings<span class="sr-only"> (see user profile settings, opens in new window)</span></a>
        </li>
        <li class="nav__container--item settings">
          <a href="/link-to-nav-item.html" target="_blank">Settings<span class="sr-only"> (see user profile settings, opens in new window)</span></a>
        </li>
        <li class="nav__container--item settings">
          <a href="/link-to-nav-item.html" target="_blank">Settings<span class="sr-only"> (see user profile settings, opens in new window)</span></a>
        </li>
        <li class="nav__container--item settings">
          <a href="/link-to-nav-item.html" target="_blank">Settings<span class="sr-only"> (see user profile settings, opens in new window)</span></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>



</body>
</html>