// BREADCRUMBS
.breadcrumbs {
  background: darken($defaultSectionBGColor, 3%);
  padding: 10px 0;
  margin-bottom: 60px;
  a {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: $betaFontSize;
    font-weight: 600;
  }
  .icon-home1 {
    font-size: $omegaFontSize;
    color: $darkGray;
    padding-right: 5px;
  }
  .icon-chevron-small-down {
    margin: 0 10px;
    font-size: $betaFontSize;
    font-weight: 700;
    display: inline-block;
    transform: rotate(-90deg);
  }
}