@import '~bootstrap';
$white: #fff;

footer {
  margin-top: 40px;
  p {
    color: $white;
  }
}

#options {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

@import './components/card-row/scss/styles.scss';