// @import './components/global/default-styles/default.scss';
@import '~bootstrap';
@import './components/global/base.scss';
@import './components/global/variables.scss';
@import './assets/icons/style.scss';
$white: #fff;


// JUMBOTRON HERO
@import './components/jumbotron-hero/scss/styles.scss';

// STICKY NAVIGATION
@import './components/sticky-navigation/scss/styles.scss';

// BREADCRUMBS
@import './components/breadcrumbs/scss/styles.scss';

// RECENT POSTS
.recent-posts-hero {
  position: relative;
  top: -20px;
  right: 0;
  &__posts {
    box-shadow: 0 0 5px rgba($black, 0.2);
    background: $defaultWhite;
    list-style-type: none;
    max-height: 375px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-25%);
    z-index: 3;
    &:before {
      content: 'Recent Posts';
      color: $defaultWhite;
      font-size: 24px;
      position: absolute;
      top: 0;
      left: 0;
    }
    li {
      padding: 15px;
      font-size: $betaFontSize;
      .post-title {
        font-weight: 700;
      }
      .post-time {
        display: none;
      }
      &:nth-child(even) {
        background-color: lighten($defaultSectionBGColor, 2%);
      }
    }
  }
}

